@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/museosansrounded-300-webfont.eot');
    src: url('../fonts/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosansrounded-300-webfont.woff') format('woff'),
    url('../fonts/museosansrounded-300-webfont.ttf') format('truetype'),
    url('../fonts/museosansrounded-300-webfont.svg#museo_sans_rounded300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/museosansrounded-500-webfont.eot');
    src: url('../fonts/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosansrounded-500-webfont.woff') format('woff'),
    url('../fonts/museosansrounded-500-webfont.ttf') format('truetype'),
    url('../fonts/museosansrounded-500-webfont.svg#museo_sans_rounded500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/museosansrounded-700-webfont.eot');
    src: url('../fonts/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosansrounded-700-webfont.woff') format('woff'),
    url('../fonts/museosansrounded-700-webfont.ttf') format('truetype'),
    url('../fonts/museosansrounded-700-webfont.svg#museo_sans_rounded700') format('svg');
    font-weight: 700;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #3a3a3a;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    padding: 0;
    margin: 0 0 100px;
}

.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808084;
}

.top-menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0 !important;
    text-decoration: none;
}

.top-menu a:hover {
    color: #111;
}

.header {
    margin-top: 40px;
}

.logo {
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid grey;
}

.left-menu {
    padding: 0;
    margin: 0;
}

.left-menu li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0;
    height: 35px;
    line-height: 27px;
}

.left-menu li a {
    display: inline-block;
    line-height: 25px;
    font-weight: 700;
}

i.fa-caret-right {
    font-size: 11px !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    top: 9px;
    color: #cccccc;
}

.cizgi {
    margin: 0 !important;
    border: 0 solid #111 !important;
    display: block !important;
    position: relative !important;
    padding: 11px !important;
}

.border {
    border: 1px solid black;
    border-radius: 5px;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.category {
    color: black;
}

.hvr-sweep-to-bottom:before {
    background: #ff7900 !important;

}

.hvr-underline-from-right::before {
    background: #ff7900 !important;
}

.category:hover {
    text-decoration: none;
    color: #ff7900 !important;
}

.breadcrumb {
    font-size: 10px !important;
    background-color: #ccc !important;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: .5rem !important;
}

.breadcrumb-item > .breadcrumb-item::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+) !important;
}

.breadcrumb {
    background: none;
    background-color: transparent !important;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #fff;
}

.breadcrumb > .active {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.iletisim_bilgileri {
    display: flex;
    flex-wrap: wrap;
}

.map {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 500px !important;
    overflow: hidden !important;
}

.map iframe {
    position: absolute !important;
    bottom:0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 350px !important;
}

.footer {
    margin-top: 40px;
    background: #000 url('../images/footer-bg.png') !important;
    color: #fff !important;
    width: 100% !important;
    height: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    bottom: 0;
    left: 0;
}

.color-overlay {
    color: #fff !important;
    width: 100% !important;
    height: 100% !important;
    background: #000 !important;
    opacity: .6 !important;
    position: absolute !important;
}

.foot-text {
    position: absolute;
    bottom: 10px;
    left: 50px;
    display: inline-block;
    font-size: 12px;
}

.social-media {
    display: block;
    text-align: center;
    float: right;
}

.social-media li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
}

.social-media li a {
    display: block;
    padding: 10px;
    width: 44px;
    height: 44px;
    border: 1px solid white;
    border-radius: 50%;
}

.social-media li a:hover {
    background-color: #fff;
    color: #000;
}

.social-media li a:hover > .icons {
    background-color: #fff;
    color: #000;
}

.social-media li a i {
    text-align: center;
    color: #fff;
    padding: 2px 0;
    font-size: 17px;
}

#upBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #2098D1;
    color: white;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 50px;
    /*opacity: 0.7;*/
}

#upBtn:hover {
    background-color: transparent;
    color: #2098D1;
    opacity: 1;
    border: 2px solid #2098D1;
}

@media screen and (max-width: 768px) {
    .foot-text {
        position: absolute;
        bottom: -5px;
        left: 80px;
    }

    .social-media {
        position: absolute;
        top: -20px;
        left: 25px;
        margin-top: 5px;

    }

    .social-media li a {
        display: block;
        padding: 8px;
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 50%;
    }
}


